In [15]:
import pandas as pd

    
#Seleção das colunas

arquivo = pd.read_csv("teste.csv", sep = ",")
datas = arquivo.T["2022-06-11":"2022-05-13"]
termos = arquivo["Term"]
appId = arquivo["App ID"].values
posicoes = arquivo.T["2022-06-11":"2022-05-13"]
x = posicoes.to_numpy()

#Seleção dos dados de datas
datas.reset_index(inplace=True)
datas = datas["index"]

#Defnição das colunas
colunaTermos = column = termos
colunaAppID = column = appId
colunaDatas = column = datas

#Tratamento dos dados
dados = []
chave = []

for i in x:
    for y in i:
        chave.append(y)
i = 0
j = 0

#Formatando as datas

for data in datas:
    for termo in termos:      
        dados.append((str(termo),str(appId[j]),str(chave[i]),str(data)))
        j = j + 1
        i = i + 1
    j=0

datas=pd.DataFrame(dados)  
datas2=pd.DataFrame(datas[3]).values
datas2

dados_data=[]

for data in datas:
    for datinha in data:
        dia=datinha[8:10]
        mes=datinha[5:7]
        ano=datinha[0:4]
        dados_data.append(str(f'{dia}/{mes}/{ano}'))
date=pd.DataFrame(dados_data)
date



# datas3=[]
# for data in datas2:
#     dia=data[8:9]
#     mes=data[5:6]
#     ano=data[0:3]
#     datas3.append(str("{}/{}/{}".format(dia,mes,ano)))

               0
0     11/06/2022
1     11/06/2022
2     11/06/2022
3     11/06/2022
4     11/06/2022
...          ...
7105  13/05/2022
7106  13/05/2022
7107  13/05/2022
7108  13/05/2022
7109  13/05/2022

[7110 rows x 1 columns]